.pageContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 75px);
}

.cardUserBox {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  gap: 1em;
}

/*

.searchFields{
  display: none;
}

.searchFieldsTr td, .searchFieldsTr td:not(.searchFieldsTd){
  position: relative;
}

.searchFieldsTd{
  position: absolute;
}
  */