.pageContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 75px);
}

.title {
  padding: 1em 0 .5em 0;
  color: #696969;
  font-size: x-large;
}

.cardUserBox {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  gap: 1em;
}

.cardButtons {
  display: flex;
  margin: 16px 0 0 0;
  justify-content: flex-end;
  gap: 8px;
}

.cardButtons button {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid green;
  background-color: greenyellow;
  cursor: pointer;
}

.cardButtons button:hover {
  transform: scale(0.95);
  background-color: rgb(158, 227, 55);
}

.otherOptionBtns {
  background-color: rgb(158, 227, 55);
  list-style: none;
  position: absolute;
  padding: .5em 1em .5em .8em;
  border-radius: .5em;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.otherOptionBtns li {
  cursor: pointer;
  padding: .2em 1em .2em .5em;
  border-radius: .2em;
}

.otherOptionBtns li:hover {
  background-color: rgb(140, 202, 47);
}

.cardList {
  flex: 1;                 /* ocupa todo espaço restante */
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  border-radius: 6px;
  border: 1px solid gray;
  background-color: rgba(156, 155, 155, 0.5);
  overflow: hidden;        /* importante */
}

.cardList table tr td, .cardList table tr th {
  padding: .7em 7em .7em .5em;
  margin-right: 10rem;
}

.cardList table thead tr td, .cardList table thead tr th {
  background-color: rgb(173, 255, 47, 0.8);
  position: relative;
  min-width: 7.5rem;
}

.cardList table thead tr th {
  background-color: rgba(173, 255, 47, 0.95);
  position: sticky;
  top: 0;
  z-index: 5;
  min-width: 7.5rem;
}

.cardList table thead tr th input{
  width: 60%;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 0;
  padding-inline: .5rem;
  transform: translateY(-50%);
  background-color: rgba(228, 255, 188);
  border-radius: .3rem;
  margin-left: .3rem;
}

.cardList table tr td, .cardList table tr th {
  border: 1px solid gray;
}

.searchIcon{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: x-large;
  margin-right: .7rem;
  cursor: pointer;
}

.tableWrapper {
  flex: 1;
  overflow-x: auto;
  overflow-y: auto;
}

.tableWrapper table {
  border-collapse: collapse;
  white-space: nowrap;
}


/*

.searchFields{
  display: none;
}

.searchFieldsTr td, .searchFieldsTr td:not(.searchFieldsTd){
  position: relative;
}

.searchFieldsTd{
  position: absolute;
}
  */