VITE_API_URL=http://localhost:3000
VITE_ENV=develop
#VITE_ENV=production
MONGO_CS=mongodb+srv://dbUserAdmin:Amigos%402026@ongsystem.deqhqwv.mongodb.net/?retryWrites=true&w=majority&appName=ongsystem
MONGO_DB_NAME=databaseONG
API_PORT=3000