.dialogPaper {
  width: 100%;
  margin: 0;
}

.dialogMenu {
  width: 70%;
  padding-block: 1rem;
  padding-inline: 7.5%;
  margin-inline: 7.5%;
}

.textTitle {
  text-align: center;
}

.textTitle h3 {
  color: var(--color-primary);
}

.fieldListBox {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  height: 50vh;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.field {
  display: flex;
  justify-content: space-between;
  border: 2px solid #696969;
  padding: .5rem .5rem .5rem 1rem;
  align-items: center;
  margin-inline: 1rem;
  margin-top: .5rem;
}

.field p {
  font-size: .9rem;
}

.field .btnArrows {
  display: none;
}

.fieldActive {
  transform: scale(1.05);
  background-color: rgba(156, 155, 155, 0.3);
}

.fieldActive .btnArrows {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.dialogMenu button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: .5rem 1rem;
  width: 70%;
  margin-top: .5rem;
  margin-inline: 15%;
  cursor: pointer;
  border-radius: .5rem;
}

.dialogView,
.dialogAlter {
  width: 80%;
  padding-block: 1rem;
  padding-inline: 5%;
  margin-inline: 5%;
  margin-bottom: 2rem;
}

.dialogView h4,
.dialogAlter h4 {
  margin-left: 1rem;
  margin-top: 1.5rem;
  font-weight: 500;
}

.dialogView .dialogViewContent div,
.dialogAlter .dialogAlterContent div {
  display: flex;
  flex-direction: column;
}

.dialogView .dialogViewContent,
.dialogAlter .dialogAlterContent {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: .5rem;
}

.dialogView .dialogViewContent div label,
.dialogAlter .dialogAlterContent div label {
  font-weight: bold;
}

.dialogView .dialogViewContent div input,
.dialogAlter .dialogAlterContent div input,
.dialogView .dialogViewContent div select,
.dialogAlter .dialogAlterContent div select {
  background-color: rgb(156, 155, 155, 0.3);
  border: 1px solid gray;
  border-radius: .3em;
  padding: .7em 2em .7em .5em;
  font-size: small;
  margin-right: .5rem;
}