
.title {
  padding: 1em 0 .5em 0;
  color: #696969;
  font-size: x-large;
}

.cardListBox{
  display: flex;
  gap: .5em;
}

.peopleManagementForm{
  margin-block: 1.5em;
}

.peopleManagementForm .formCard{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1em;
}

.peopleManagementForm .formGroup{
  display: flex;
  flex-direction: column;
}

.peopleManagementForm .formGroup label{
  font-weight: bold;
}

.peopleManagementForm .formGroup input, .peopleManagementForm .formGroup select, .peopleManagementForm .formGroup .multiSelect{
  width: fit-content;
  max-width: 100%;
  min-width: 300px;
  background-color: rgb(156, 155, 155, 0.3);
  border: 1px solid gray;
  border-radius: .3em;
  padding: .7em 2em .7em .5em;
  font-size: medium;
}

.peopleManagementForm .formGroup input:focus, .peopleManagementForm .formGroup select:focus {
  border-color: black;
  box-shadow: 1px 1px 2px black;
  background-color: rgb(156, 155, 155, 0.5);
}