/* Icone dos botões de pesquisa */
.searchIcon{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: x-large;
  margin-right: .5rem;
  cursor: pointer;
}

.selectFilter {
  width: 60%;
  height: 1.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  padding-inline: .5rem;
  transform: translateY(-50%);
  background-color: var(--color-tertiary);
  border-radius: .3rem;
  margin-left: .3rem;
  font-size: small;
  border: 1px solid black;
}

.multiSelectFilter {
  width: 70%;
  height: 15rem;
  position: absolute;
  top: 0;
  margin-top: .2rem;
  padding-inline: 1.5rem;
  background-color: var(--color-tertiary);
  border-radius: .3rem;
}

.multiSelectFilter  option{
  padding-block: .8rem;
}
