.pageContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 75px);
}

.pageContainer h2 {}

.listMenu {
  margin-top: 1rem;
}

.menu {
  border: 3px solid var(--color-primary);
  border-radius: 10px;
  background: white;
  margin-bottom: .5rem;
}

.menuSummary {
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.menuSummary:hover {
  background: #f8f9fa;
  border-radius: 10px;
}

.arrow {
  transition: transform 0.2s ease;
  margin-top: .3rem;
}

.menu[open] .arrow {
  transform: rotate(90deg);
}

.menuContent {
  border-top: 3px solid var(--color-primary);
  padding: .5rem .5rem;
  background-color: rgba(156, 155, 155, 0.3);
}

.menuContent table {
  width: 100%;
  border: 1px solid gray;
  padding: .5rem 1rem;
  border-collapse: collapse;
  white-space: nowrap;
  cursor: pointer;
}


.menuContent table tbody td {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  padding: .5rem 1rem;
  padding-right: .5rem;
}

.menuContent table tbody td div{
  display: flex;
}

.menuContent table tbody td div svg{
  font-size: 1.4rem;
}

.menuContent table tbody td:hover {
  background-color: rgb(156, 155, 155, 0.5);
}