/*
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

* {
  margin: 0;
  padding: 0;
}

:root{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: rgb(40, 103, 197);
  --color-secondary: rgb(170, 204, 255);
  --color-tertiary: rgb(173, 218, 255);
}

body{ 
  margin: 0;
}

main {
  margin: 0 auto;
  min-height: 100vh;
}


.main {
  display: flex;
  flex-direction: column;
  padding: 50px 0 0 80px;
}

h1{
  font-size: x-large;
}

p {
  font-size: small;
}

.main h1 {
  font-size: large;
  width: fit-content;
  color: #696969;
  padding: 1em 0 .5em 1em;
}

.main a {
  text-decoration: none;
}

.main h2 {
  font-size: small;
  width: fit-content;
  color: var(--color-primary);
  padding: 0 0 .5em 1em;
  cursor: pointer;
  transition: 0.2s;
}

.main h2:hover {
    transform: scale(1.1);
}

.main-page {
  padding: 65px 1em 0 1em;
}

.title-page {
  padding: 1em 0 .5em 0;
  color: #696969;
  font-size: large;
}

.subtitle-page{
  color: #696969;
  font-size: medium;
}

.arrowBack {
  font-size: 20px;
  color: var(--color-secondary);
  position: fixed;
  margin-top: 8px;
  top: 0;
  background-color: var(--color-primary);
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  z-index: 999;
}

.arrowBack:hover {
  transform: scale(1.2);
}

/* Tabelas e listas */

.cardList {
  flex: 1;                 
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  border-radius: 6px;
  border: 1px solid gray;
  background-color: rgba(156, 155, 155, 0.5);
  overflow: hidden;
}

.cardList table tr td{
  cursor: pointer;
}

.cardList table tr td, .cardList table tr th {
  padding: .5em 5em .5em .3em;
  margin-right: 10rem;
}

.cardList table thead tr td, .cardList table thead tr th {
  background-color: var(--color-primary);
  position: relative;
  min-width: 7.5rem;
}

.cardList table thead tr th {
  background-color: var(--color-secondary);
  position: sticky;
  top: 0;
  z-index: 5;
  min-width: 7.5rem;
}

.cardList table thead tr th input{
  width: 60%;
  height: 1.3rem;
  position: absolute;
  top: 50%;
  left: 0;
  padding-inline: .5rem;
  transform: translateY(-50%);
  background-color: var(--color-tertiary);
  border-radius: .3rem;
  margin-left: .3rem;
  font-size: small;
  border: 1px solid black;
}

.cardList table tr td, .cardList table tr th {
  border: 1px solid gray;
}

.searchIcon{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: x-large;
  margin-right: .7rem;
  cursor: pointer;
}

.tableWrapper {
  flex: 1;
  overflow-x: auto;
  overflow-y: auto;
}

.tableWrapper table {
  border-collapse: collapse;
  white-space: nowrap;
  font-size: small;
}

.cardListBox {
  display: flex;
  gap: 0.5em;
  overflow-x: auto;
  overflow-y: hidden;
}

/* Botões que ficam na página */

.card-buttons {
  display: flex;
  margin: 8px 0 0 0;
  justify-content: flex-start;
  gap: 6px;
}

.card-buttons button {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-secondary);
  cursor: pointer;
  font-size: x-small;
}

.card-buttons button:hover {
  transform: scale(0.95);
  filter: brightness(0.92);
}

.other-option-btns {
  background-color: var(--color-secondary);
  list-style: none;
  position: absolute;
  padding: .5em 1em .5em .8em;
  border-radius: .5em;
  border: 1px solid var(--color-primary);
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.other-option-btns li {
  cursor: pointer;
  padding: .2em 1em .2em .5em;
  border-radius: .2em;
  font-size: x-small;
  color: black;
}

.otherOptionBtns li:hover {
  filter: brightness(0.92);
}

/* Formulários */

.card-list-box-form{
  display: flex;
  gap: 0.5em;
  overflow-x: auto;
  overflow-y: hidden;
}

.management-form{
  margin-block: 1.5em;
}

.management-form .form-card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1em;
}

.management-form .form-group {
  display: flex;
  flex-direction: column;
}

.management-form .button-box {
  position: fixed;
  top: 72px;
  right: 12px;
  display: flex;
  gap: 0.5em
}

.management-form button {
  border: 1px solid var(--color-primary);
  background-color: var(--color-secondary);
  border-radius: 8px;
  padding: 8px 10px;
  cursor: pointer;
  font-size: x-small;
}

.management-form button:hover {
  transform: scale(0.95);
  filter: brightness(0.92);
}