.title {
  padding: 1em 0 .5em 0;
  color: #696969;
  font-size: x-large;
}

.subtitle{
  color: #696969;
  font-size: large;
}

.cardList {
  width: 50%;
  height: auto;
  margin-top: 16px;
  border-radius: 6px;
  border: 1px solid gray;
  background-color: rgb(156, 155, 155, 0.5);
  overflow-x: auto;
  white-space: nowrap;
}

.cardList table {
  cursor: default;
  width: max-content;
  min-width: 100%;
}

.cardList table tr td {
  padding: .7em 2em .7em .5em;
}

.cardList table thead tr td {
  border: 1px solid gray;
  border-radius: 3px;
  background-color: rgb(173, 255, 47, 0.8);
}

.cardList table tr td {
  border: 1px solid gray;
}